<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TDD Rocks</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="index.html">History</a></li>
                <li><a href="philosophy.html">Philosophy</a></li>
                <li class="active"><a href="#">Process<span class="sr-only">(current)</span></a></li>
                <li><a href="tips.html">Tips & Tricks</a></li>
            </ul>
        </div>
    </nav>
    <div class="row"></div>
    <div class="row"><img class="img-responsive center-block" src="/assets/images/red-green-refactor.png" alt="red green refactor cycle"></div>
</div>
</body>
</html>